<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>

    <h1 class="example-app-name">Clinica UMG</h1>

    <span class="example-spacer"></span>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav opened="true" #sidenav style="width: 200px">
      <ng-container>
        <button
          mat-menu-item
          (click)="sidenav.toggle()"
          routerLink="/doctor"
          style="cursor: pointer"
        >
          <mat-icon>person</mat-icon>
          <span>Doctor</span>
        </button>
        <mat-divider></mat-divider>

        <button
          mat-menu-item
          (click)="sidenav.toggle()"
          routerLink="/paciente"
          style="cursor: pointer"
        >
          <mat-icon>person</mat-icon>
          <span>Paciente</span>
        </button>
        <mat-divider></mat-divider>

        <button
          mat-menu-item
          (click)="sidenav.toggle()"
          routerLink="/medicamento"
          style="cursor: pointer"
        >
          <mat-icon>medical_services</mat-icon>
          <span>Medicamento</span>
        </button>
        <mat-divider></mat-divider>

        <button
          mat-menu-item
          (click)="sidenav.toggle()"
          routerLink="/fichamedica"
          style="cursor: pointer"
        >
          <mat-icon>ballot</mat-icon>
          <span>Ficha Medica</span>
        </button>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container-dashboard">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div></div>
